<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Subscribe Demo</title>
	<script src="{{ static_url("js/jquery-2.1.1.js") }}"></script>
	<script>
		$(function() {
			setInterval(function() {
				$.ajax({
					method: 'GET',
					url: '/subscribe',
					success: function(data) {
						$('#display-area').append('<p>' + data+ '</p>')
						console.log(data)
					}
				})
			}, 1000)
		})	
	</script>
</head>
<body>
	<div id="display-area">
	</div>
</body>
</html>
